<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.opera.fnd.util">
  <Properties>
    <Property name="pattern">%d{ISO8601} %5p %c{1}:%L %m%n</Property>
  </Properties>

  <Appenders>
    <Console
      name="stdout"
      target="SYSTEM_OUT">
      <PatternLayout pattern="${pattern}" />
    </Console>
  </Appenders>

  <Loggers>
    <AsyncRoot level="warn">
      <AppenderRef ref="stdout" />
    </AsyncRoot>
  </Loggers>
</Configuration>